h1{
  text-align: center;
  font-size: 4em;
  padding-top: 0.25em;
  padding-bottom: 0.25em;
}
#email{
  position: absolute;
  top: 0;
  right: 0;
}
#hr1{
  border-color: #bababa;
  margin-left: 3%;
  margin-right: 3%;
}
#mainCol{
  border: solid black;
  height: 100vh;
  overflow: auto;
}
h2{
  text-align: center;
}
#mainForm{
  margin-bottom: 1em;
  text-align: center;
}
[name="addedItem"]{
  display: inline-block;
  width: 85%;
}
#addItemBtn{
  width: 5.5em;
  height: 2.5em;
}
#toDoList{
  padding: 0;
  list-style-type: none;
}
.listEntry{
  margin-bottom: 0.5em;
  position: relative; /* used to position .entryCtrl */
}
.entryMain{
	display: inline-block;
  width: 85%;
	padding-right: 1%;
}
.entryDesc{
  position: relative; /* used to position .dueInput */
}
.dueInput_disp{ /* positions datepicker */
  position: absolute;
  top: -3.55em;
  z-index: 1;
}
.dueInput_sort{
  display: none;
}
.tag{
  display: inline-block;
  background-color: #b2b2b2;
  color: white;
  font-size: 0.85em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  border-radius: 10%;
  margin-right: 0.25em;
  margin-bottom: 0.25em;
}
.dueTag{
  background-color: #6b6b6b;
}
.addTag{
  position: absolute;
  right: 0;
  top: -1.7em;
  z-index: 1;
}
.addTagBtn{
  margin-left: 0.5em;
}
.entryCtrl{
  display: inline-block;
  width: 15%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.rmvItemBtn{
  display: inline-block;
  width: 33%;
  text-align: center;
}
.dueBtn{
  display: inline-block;
  width: 33%;
  text-align: center;
}
.showAddTag{
  display: inline-block;
  width: 33%;
  text-align: center;
}
#hr2{
  border-color: black;
  margin-left: 3%;
  margin-right: 3%;
}
#filterForm{
  text-align: center;
}
#sortBtn{
  margin-right: 3em;
}