h1{
  text-align: center;
  font-size: 4em;
  padding-top: 0.25em;
  padding-bottom: 0.25em;
}
#email{
  position: absolute;
  top: 0;
  right: 0;
}
hr{
  border-color: #bababa;
  margin-left: 3%;
  margin-right: 3%;
}
#mainCol{
  border: solid black;
  height: 100vh;
  overflow: auto;
}
h2{
  text-align: center;
}
#mainForm{
  margin-bottom: 1em;
}
[name="addedItem"]{
  display: inline-block;
  width: 85%;
}
#addItemBtn{
  width: 14%
}
#toDoList{
  padding: 0;
  list-style-type: none;
}
.entryMain{
	display: inline-block;
  width: 85%;
	padding-right: 1%;
}
.entryDesc{
  position: relative;
}
.dueInput{
  position: relative;
  top: -1.80em;
  z-index: 1;
}
.dueTag{
  display: inline-block;
  top: 0;
  float: left;
  text-align: center;
  background-color: #d4d4d4;
  padding-left: 0.5em;
  padding-right: 0.5em;
  border-radius: 10%;
}
.entryControl{
  display: inline-block;
  width: 15%;
}
.rmvItemBtn{
  display: inline-block;
  width: 50%;
  text-align: center;
}
.dueBtn{
  display: inline-block;
  width: 50%;
  text-align: center;
}
.ui-datepicker{
  position: absolute;
  z-index: 1;
  left:-13.5em;
}