#mainCol{
  border: solid black;
  border-width: 0.5vh;
  height: 100vh;
  text-align: center;
}
#howToPlayBtn{
  display: block;
  margin-bottom: 1em;
  text-decoration: underline;
}
#results{
  background-color: #e6e6e6;
  height: 50vh;
  width: 80%;
  display: inline-block;
  text-align: left;
  overflow: auto;
  margin-top: 1em;
}
#gameDispHr{
	border-color: black;
	margin-top: 0.25em;
	margin-bottom: 0.25em;
	width: 90%;
}
#howToPlay{
  background-color: #000;
  color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  margin: 0.5vh;
  padding: 0.5em;
  height: 98vh;
  overflow: auto;
}
#howToPlay > .glyphicon-remove{
  display: inline-block;
  position: absolute;
  top: 0.5vh;
  right: 0.5vh;
}
h3{
  text-decoration: underline;
}
